body {
  background-color: rgba(193, 226, 222, 0.91);

  .container-fluid {
    .header {
      ul {
        list-style-type: none;
        b{
          cursor: pointer;
        }
        .allBtn {
          background-color: rgba(193, 226, 222, 0.91);
          outline: none;
          border: none;
          width: 190px;
          color: darkblue;
          height: 50px;
          text-align: center;
        }
        .allBtn:hover {
          font-weight: bolder!important;
          text-transform: uppercase;
          font-size: 18px;
          transition: .3s linear;
          color: red;
          text-shadow: 5px 0 4px black;
        }
        .loginBtn{
          margin-left: 100px!important;
        }
      }
    }

    .container {
      .body {

      }
    }
  }
}
